{% extends 'Blog/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>About author</h1>
    <h2>Andrew Zaharovskyi</h2>
    <h3>Python/Django Developer</h3>
    <h4>Twenty four years old. Lives in Ukraine.</h4>
    <br>
    <h5><font color="lightskyblue">Blog — my simple web-application</font></h5>

    <p><span style="background-color: #7fb37c">
        <font color="black">I created this project in 22th September and this is my first application in Python/Django. For this job, I spent one day. For day I learned foundations to work in Django, learned pattern MVC and his "analog" MTV in philosophy Django. I remembered how to work with HTML and CSS.I also learned to use finished templates in my work. I also learned to use the templates for work, do the insertions of styles and scripts of JS. I figured out how to do the template inheritance and how to work with the static files.</font>
    </span></p>
    
    <img src="">
{% endblock %}