{% extends 'Blog/base.html' %}
{% load staticfiles %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>About author</h1>
    <div class='container-fluid'>
        <div class='row2' align='left'>
            <div class='col-xs-4 col-sm-4' align='center'>
                <h2>Andrew Zaharovskyi</h2>
                <h3>Python/Django Developer</h3>
                <img src="{% static 'Blog/author.jpg' %}" width="230px" height="230px">
            </div>

            <div class='col-xs-3 col-sm-3'>
                <h5 class='text-info'>Contact information</h5>
                <ul class='text-success'>
                    <li>E-mail: <a href="mailto:avz0712@gmail.com">avz0712@gmail.com</a><br></li>
                    <li>Skype:  <a href="skype:avz0712?call">avz0712</a><br></li>
                    <li>Mobile: <a href="skype:+380990279149?call">+380990279149</a><br></li>
                </ul>
            </div>

            <div class='col-xs-4 col-sm-4'>
                <p class='text-justify'>
                    In a blog materials are published on a theme interesting possibilities of Python, work at Django and other frameworks.
                    Also information is here published about robotics, application of Python in robotics and application in network technologies.
                    Will be considering features of network programming.
                </p>
            </div>
        </div>
        <div class='row'><br></div>
    </div>
{% endblock %}